<header mdcToolbar [fixed]="true">
	<div mdcToolbarRow>
		<section mdcToolbarSection alignStart>
			<span>
				<a href="javascript:void(0)" mdcToolbarMenuIcon
					><i class="material-icons">menu</i></a
				>
			</span>
			<span mdcToolbarTitle>{{ title }}</span>
		</section>
		<section mdcToolbarSection alignEnd>
			<a
				href="javascript:void(0)"
				mdcToolbarIcon
				class="material-icons"
				aria-label="Bookmark this page"
				alt="Bookmark this page"
				>more_vert</a
			>
		</section>
	</div>
</header>
<div class="separator"><router-outlet></router-outlet></div>
